# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.Rproj.user/5351378/sdb/prop/8400B893
.Rproj.user/5351378/sdb/prop/8885659B
.Rproj.user/5351378/sdb/prop/D4605DF3
.Rproj.user/5351378/sdb/prop/INDEX
.Rproj.user/5351378/sdb/prop/INDEX
.Rproj.user/5351378/sdb/s-708D9475/2EC69D9E
.Rproj.user/5351378/sdb/prop/INDEX
.Rproj.user/5351378/sdb/prop/INDEX
.Rproj.user/5351378/sdb/s-708D9475/AE2ED2ED
.Rproj.user/5351378/sdb/s-708D9475/AA2C8845
.Rproj.user/5351378/sdb/s-708D9475/E8460924
.Rproj.user/5351378/sdb/s-708D9475/lock_file
.Rhistory
.RData
.Rproj.user/5351378/sdb/prop/INDEX
.Rproj.user/5351378/sdb/s-AEEFAA41/2EC69D9E
.Rproj.user/5351378/sdb/s-AEEFAA41/AA2C8845
.Rproj.user/5351378/sdb/s-AEEFAA41/AE2ED2ED
.Rproj.user/5351378/sdb/s-AEEFAA41/E8460924
.Rproj.user/5351378/sdb/s-AEEFAA41/lock_file
.Rproj.user/5351378/sdb/per/t/AA2C8845
.Rhistory
*.Rhistory
*.Rhistory
*.pper
.Rproj.user/5351378/pcs/source-pane.pper
First Version.pdf
Overall.csv
Second Version.pdf
University.csv
*.Rhistory
*.pper
.Rproj.user/5351378/sdb/s-664607C9/5E0E1530
.Rproj.user/5351378/sdb/s-664607C9/AA2C8845
.Rproj.user/5351378/sdb/s-664607C9/lock_file
.Rproj.user/5351378/pcs/source-pane.pper
*.pper
